.evenement {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.color {
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.card-deck {
    margin-top: 30px;
}